#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1
export QT_SELECT=qt5

DESTDIR = debian/telegram-desktop
MKDIR = mkdir -p
RMDIR = $(RM) -r
QMAKE = qmake -qt5
INSTALL = install
INSTALL_FILE    = $(INSTALL) -p    -o root -g root  -m 644
INSTALL_PROGRAM = $(INSTALL) -p    -o root -g root  -m 755
INSTALL_SCRIPT  = $(INSTALL) -p    -o root -g root  -m 755
INSTALL_DIR     = $(INSTALL) -p -d -o root -g root  -m 755

ifeq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
 QMAKE += -config release
 BUILD_MODE = Release
else
 QMAKE += -config debug
 BUILD_MODE = Debug
endif
ifeq (,$(filter nostrip,$(DEB_BUILD_OPTIONS)))
 INSTALL_PROGRAM += -s
endif
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
 NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
 MAKEFLAGS += -j$(NUMJOBS)
endif

%:
	dh $@

override_dh_auto_configure: codegen_style_configure codegen_numbers_configure meta_lang_configure telegram_desktop_configure

override_dh_auto_build: telegram_desktop_build

override_dh_auto_install:
	$(INSTALL_DIR) $(DESTDIR)/usr/bin
	$(INSTALL_PROGRAM) Linux/$(BUILD_MODE)/Telegram $(DESTDIR)/usr/bin/tdesktop
	$(INSTALL_DIR) $(DESTDIR)/usr/share/pixmaps
	$(INSTALL_FILE) Telegram/Resources/art/icon32.xpm $(DESTDIR)/usr/share/pixmaps/telegram-desktop.xpm

override_dh_auto_clean:
	$(RMDIR) Linux
	$(RM) Telegram/Resources/art/sprite_125x.png
	$(RM) Telegram/Resources/art/sprite_150x.png

codegen_style_configure:
	$(MKDIR) Linux/obj/codegen_style/$(BUILD_MODE)
	cd Linux/obj/codegen_style/$(BUILD_MODE) && $(QMAKE) ../../../../Telegram/build/qmake/codegen_style/codegen_style.pro

codegen_style_build:
	$(MAKE) $(MFLAGS) -C Linux/obj/codegen_style/$(BUILD_MODE)

codegen_numbers_configure:
	$(MKDIR) Linux/obj/codegen_numbers/$(BUILD_MODE)
	cd Linux/obj/codegen_numbers/$(BUILD_MODE) && $(QMAKE) ../../../../Telegram/build/qmake/codegen_numbers/codegen_numbers.pro

codegen_numbers_build:
	$(MAKE) $(MFLAGS) -C Linux/obj/codegen_numbers/$(BUILD_MODE)

meta_lang_configure:
	$(MKDIR) Linux/$(BUILD_MODE)IntermediateLang
	cd Linux/$(BUILD_MODE)IntermediateLang && $(QMAKE) ../../Telegram/MetaLang.pro

meta_lang_build:
	$(MAKE) $(MFLAGS) -C Linux/$(BUILD_MODE)IntermediateLang

telegram_desktop_configure:
	$(MKDIR) Linux/$(BUILD_MODE)Intermediate
	cd Linux/$(BUILD_MODE)Intermediate && $(QMAKE) ../../Telegram/Telegram.pro

telegram_desktop_build: codegen_style_build codegen_numbers_build meta_lang_build
	$(MAKE) $(MFLAGS) -C Linux/$(BUILD_MODE)Intermediate

.PHONY: override_dh_auto_configure override_dh_auto_build \
	override_dh_auto_install override_dh_auto_clean \
	codegen_style_configure codegen_numbers_configure meta_lang_configure telegram_desktop_configure \
	codegen_style_build codegen_numbers_build meta_lang_build telegram_desktop_build
